/*

Title:     Memory Game BY General Assembly
Author:    Bruno DaSilva
File Type: CSS  
Date: 	   August 25, 2019

*/

body {
	text-align: center;
	margin: 0;
}

body a{
	text-decoration: none;
}

header{
	background-color: #f15b31;
	color: #FFFFFF;
	padding: 30px 20px 30px 20px;

}

main{
	width:850px;
	margin:35px auto;
}

button{
	width: 140px;
  	height: 45px;
  	font-family: "Raleway", sans-serif;
  	letter-spacing: 1.5px;
  	font-weight: 500;
  	border: none;
  	border-radius: 10px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  	transition: all 0.3s ease 0s;
  	cursor: pointer;
  	outline: none;
	background-color: #0D2C40;
	color: #FFFFFF;
	font-size: 1rem;
	margin-top: 10px;
	border-radius: 6px;
	padding: 8px;
}

button:hover{

  background-color: #f15b31;
  box-shadow: 0px 15px 20px rgba(241, 91, 49, 0.4);
  color: #fff;
  transform: translateY(-5px);
}



h1 {
	font-family: "Raleway", sans-serif;
	color:#FFFFFF;
	letter-spacing: 1px;
	font-weight: 400;
	font-size:45px;
	margin:0;
}

h2{
	font-family: "Raleway", sans-serif;
	color:#0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size:20px;
}

nav{
	background-color: #00a6b3;
	color:#FFFFFF;
	padding: 20px 0 20px 0;


}

nav a{
    font-family: "Raleway", sans-serif;
    color:#FFFFFF;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 20px 0 20px;
    border-bottom: 2px solid transparent;
}

a:hover{	
	color:#FADA5E;    
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}

footer{
	background-color: #0D2C40;
	color: #FFFFFF;
	margin:0 auto;
	padding: 20px;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.08em;
	font-weight: 500;
}


ul li{
	list-style: none;	
	display: inline-block;	
}

ul li a{

	font-size: 18px;
	line-height: 26px;
	color:#FFFFFF;
    letter-spacing: 1px;
    font-weight: 600;  
    padding: 10px  

}

img{
	margin: 40px 8px 0 8px;
}


.copyright{
	float:left;

}

.message{
	float:right;

}

.name{
	color:#F15B31;
	font-weight: 700;

}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}









